
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f4f4f4;
}
header{
    background: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px, 30px;
}
.logo-section{
    display: flex;
    align-items: center;
}
.logo-section img{
    margin-right: 10px;
}
nav ul{
    display: flex;/*flexbox*/
    list-style: none;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: gold;
}

section{
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}
h2{
    color: #003366;
    margin-bottom: 15px;
}
p{
    margin-bottom: 15px;
}

.images{
    display: flex;
    gap: 20px;
}
.images img{
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.2);
}

ol, ul{
    margin-left: 30px;
    margin-top: 10px;
}